@charset "UTF-8";
body{
	height:100vh;
	font-family: "Nico Moji";
	background:#006400;
	color:white;
}
#container{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
}
#mydice{
	display:flex;
}
#mydice img{
	width:8vmin;
	height:8vmin;
	margin:0 2vmin 0 1vmin;
}
#mydice{
	display:flex;
}
#npcdice img{
	width:8vmin;
	height:8vmin;
	margin:0 1vmin;
}
h1{
	font-size:8vmin;
}
p{
	font-size:5vmin;
}